1: Write a Python program to print all the numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

2: Write a Python program to find the sum of all numbers from 1 to 100 using a for
loop.

In [28]:
sum=0
for item in range(1,101,1) :
    sum=sum+item
    
print(sum)

5050

3: Write a Python program to print the multiplication table of a given number using a
for loop.

In [53]:
n=int(input("Enter a number"))
for i in range(1,11,1):
    print(f"{n}x{i}={n*i}")

Enter a number 4

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

4: Write a Python program to count the number of even and odd numbers from a
series of numbers using a for loop.

In [59]:
i=[1,2,3,4,5,6,3,5,2] // i is list type userdefined datatype
countEven=0
countOdd=0
for list in i:
    if(list%2==0):
        countEven+=1
    else:
        countOdd+=1

print("Even no in range:",countEven)
print("Odd no in range:",countOdd)

Even no in range: 4
Odd no in range: 5

5: Write a Python program to find the factorial of a number using a for loop.

In [69]:
n = int(input("Enter a number:"))
fact=1
for i in range(1,n+1,1):
    fact=fact*i

print(f"factorial of {n} is",fact)

Enter a number: 5

factorial of 5 is 120

6: Write a Python program to print the Fibonacci sequence up to a specified number
using a for loop.

In [89]:
n = int(input("enter:"))
seq=0
for i in range(0,n+1,1):
    if i==0:
        seq=1
        print(seq,end=" ")
    seq=i+(i-1)
    print(seq,end=" ")

enter: 5

1 -1 1 3 5 7 9

7: Write a Python program to check if a given number is prime or not using a for loop.

In [145]:
n = int(input("Enter a number"))
count=0
for i in range(1,n+1,1):
    if n%i==0:
       count+=1

if count == 2:
    print("Prime no")
else:
    print("Not a prime no")

Enter a number 4

Not a prime no

8: Write a Python program to find the largest element in a list using a for loop

In [149]:
list = [1,2,3,4,5,8,2,1]
length=len(list)
for ele1 in range(0,length,1):
    for ele2 in range(1,length,1):
        ele1 > ele2

9: Write a Python program to reverse a given string using a for loop

In [10]:
string ="sumit"
reverse=""
for char in range(len(string)-1,-1,-1):
    reverse+=string[char]

print(reverse)

timus

Question 10: Write a Python program to find the common elements between two lists using a
for loop.
List1 = [1,2,3]
List2 = [4,5,1]